*{
    padding: 0;
    margin: 0;
}

a:hover,a:link,a:visited,a:active,a:focus{
    color: ghostwhite;
    text-decoration: none;
}

body{
    width: 90vw;
    margin-left: 5vw;
}

.title {
    display: flex;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-top: 0.8rem;
    font-size: 0.5rem;
    font-weight: bold;
    justify-content: space-between;
}

#pdclose {
    width: 0.36rem;
    height: 0.36rem;
    cursor: pointer;
    float: right;
    position: relative;
    overflow: hidden;
    margin-top: 0.6rem;
}

#pdclose:after {
    width: 100%;
    position: absolute;
    height: 0.03rem;
    background: #222222;
    content: "";
    top: 0.18rem;
    left: 0;
    transform: rotate(134deg);
    -ms-transform: rotate(134deg);
    -moz-transform: rotate(134deg);
    -webkit-transform: rotate(134deg);
    -o-transform: rotate(134deg);

}

#pdclose:before {
    width: 100%;
    position: absolute;
    height: 0.03rem;
    background: #222222;
    content: "";
    top: 0.18rem;
    right: 0;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.title-reg {
    display: flex;
    justify-content: space-between;
    font-size: 0.26rem;
    height: 1rem;
}

.title-reg span {
    color: #8e8e90;
}

.title-reg span a {
    color: red;
    text-decoration: underline;
}

.input-phone {
    display: flex;
    height: 0.8rem;
    line-height: 0.8rem;
}

.input-phone span {
    font-size: 0.26rem
}

.input-phone input {
    border: none;
    background-color: white;
}

.send_code {
    display: flex;
    height: 0.8rem;
    line-height: 0.8rem;
}

.send_code span {
    font-size: 0.32rem
}

.send_code input {
    width: 65vw;
    border: none;
    background-color: white;
}

.btn-login {
    margin-top: 2vh;
}

.btn-login input{
    width: 90vw;
    height: 7vh;
    background-color: #ef0000;
    font-size: 0.32rem;
    color: white;
    border: none;
    border-radius: 0.2rem;
}

.btn-tips {
    display: flex;
    justify-content: space-between;
    font-size: 0.28rem;
    font-family: "楷体";
    font-weight: bold;
    color: #ef0000;
    height: 1rem;
    line-height: 1rem;
}

.btn-tips a {
    color: #ef0000;
}

.tail {
    margin-top: 0.1rem;
    color: #8e8e90;
    font-size: 0.28rem;
}

#tail_second {
    font-weight: bold;
}